{% load static %}
<link rel="stylesheet" href="{% static 'matching/css/sanitize.css' %}">
<link rel=" stylesheet" href="{% static 'matching/css/style.css' %}">
<title>パスワードリセット</title>

<body>
<div class="content">
    <h1>パスワードリセット</h1>
    <p>新しいパスワードを入力してください</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="control">
            <label for="new_password1">新しいパスワード</label>
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
            <div class="control">
                <label for="new_password2">新しいパスワード（確認）</label>
                {{ form.new_password2.errors }}
                {{ form.new_password2 }}
            </div>
            <div class="control">
                <button type="submit" name="password_reset_confirm">変更</button>
            </div>
    </form>
</div>
</body>
