{% load static %}
<link rel="stylesheet" href="{% static 'matching/css/sanitize.css' %}">
<link rel=" stylesheet" href="{% static 'matching/css/style.css' %}">
<title>パスワード変更</title>

<body>
<div class="content">
    <h1>パスワードの変更</h1>
    <p>元のパスワードと新しいパスワードを入力してください</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="control">
            <label for="old_password">元のパスワード</label>
            {{ form.old_password.errors }}
            {{ form.old_password }}
        </div>
        <div class="control">
            <label for="new_password1">新しいパスワード</label>
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
        </div>
        <div class="control">
            <label for="new_password2">新しいパスワード(確認)</label>
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}
        </div>
        <div class="control">
            <button type="submit" name="password_change">パスワード変更</button>
        </div>
    </form>
</div>
</body>
