{% load static %}
<link rel="stylesheet" href="{% static 'matching/css/sanitize.css' %}">
<link rel=" stylesheet" href="{% static 'matching/css/style.css' %}">
<title>パスワードリセット</title>

<body>
<div class="content">
    <h1>パスワードリセット</h1>
    <p>メールを受信してパスワードの変更手続きを行います。</p>
    <p>メールアドレスを入力して送信ボタンを押してください。</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="control">
            <label for="email">メールアドレス</label>
            {{ form.email.errors }}
            {{ form.email }}
        </div>
        <p>メールアドレスはあらかじめシステムに登録が必要です。メールが届かない場合はシステム管理者に連絡してください。</p>
        <div class="control">
            <button type="submit" name="send">送信</button>
        </div>
    </form>
</div>
</body>
